.board {
  /* position: relative; */
  /* box-sizing: content-box; */
  cursor: default;
}

.grab {
  cursor: grab;
}

.move {
  cursor: grabbing !important;
}

.row {
  display: flex;
  align-items: stretch;
  flex-wrap: nowrap;
  width: 100%;
}

.square {
  display: flex;
  position: relative;
  overflow: hidden;
}

.notation {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.sparePieces {
  display: flex;
  justify-content: center;
}
